name: Verify/create new release tag

on:
  workflow_call:
    inputs:
      fetch_depth:
        description: "Commit depth to checkout to scan for previous release tags"
        default: 0
        type: number
      bump_each_commit:
        description: "Bump each commit as a patch version"
        default: true
        type: boolean
      tag-type:
        description: "Type of tag to create: 'rc' for release candidate, 'dev' for dev development, or '' for normal release"
        default: ""
        type: string
      force-bump-type:
        description: "Force a specific bump type instead of auto-detecting from commits. Options: 'major', 'minor', 'patch', 'none'."
        default: ""
        type: string
      ignore-commits:
        description: "Comma-separated list of commit SHAs to ignore when analyzing version bumps"
        default: ""
        type: string
      dry-run:
        description: "If true, do not upload tag."
        default: false
        type: boolean
    outputs:
      version:
        description: "New version"
        value: ${{ jobs.verify-create-new-tag.outputs.version }}

jobs:
  verify-create-new-tag:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.calculate-version.outputs.final_version }}
    env:
      GITHUB_TOKEN: ${{ secrets.TT_METAL_RELEASE_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.fetch_depth }}
          fetch-tags: true
          ref: stable

      - name: Calculate version
        id: calculate-version
        uses: tenstorrent/tt-metal/.github/actions/calculate-version@main
        with:
          tag-type: ${{ inputs.tag-type }}
          force-bump-type: ${{ inputs.force-bump-type }}
          ignore-commits: ${{ inputs.ignore-commits }}



      - name: Create tag
        if: ${{ !inputs.dry-run }}
        uses: actions/github-script@v7.0.1
        with:
          github-token: ${{ secrets.TT_METAL_RELEASE_TOKEN }}
          script: |
            const owner = "${{ github.repository_owner }}";
            const repo = "${{ github.repository }}".split('/')[1];
            const version = "${{ steps.calculate-version.outputs.final_version }}";
            const sha = "${{ github.sha }}";

            console.log(`Manually create tag ${version} for commit ${sha}`);
            await new Promise(resolve => setTimeout(resolve, 120000));

